@using CarModsHeaven.Web.Models.ProjectsList
@using CarModsHeaven.Data.Models.Enums
@model ProjectViewModel
@{

    ViewBag.Title = "Add Project - Car Mods Heaven";
}

<h2>AddProject</h2>
@using (Html.BeginForm())
{
    @Html.LabelFor(m => m.Title)
    @Html.EditorFor(m => m.Title)
    <br />
    @Html.LabelFor(m => m.CarBrand)
    @Html.EditorFor(m => m.CarBrand)
    <br />
    @Html.LabelFor(m => m.CarModel)
    @Html.EditorFor(m => m.CarModel)
    <br />
    @Html.LabelFor(m => m.CarYear)
    @Html.EditorFor(m => m.CarYear)
    <br />
    @Html.LabelFor(m => m.ModificationsType)
    @Html.DropDownList("ModificationsType", EnumHelper.GetSelectList(typeof(ModificationsType)), "Select Option",
    new { @class = "form-control" })
    <br />
    @Html.LabelFor(m => m.ModificationsList)
    <textarea name="ModificationsList"></textarea>
    <br />
    <input type="submit" value="Add"/>
}