@using CarModsHeaven.Web.Models.ProjectsList
@using Microsoft.AspNet.Identity;

@model ProjectViewModel

@{
    ViewBag.Title = @Model.Title + " - Car Mods Heaven";
}

<div class="row">
    <div class="col-md-4">
        <h3>@Model.Title</h3>
        <h4>@Model.CarBrand @Model.CarModel @Model.CarYear </h4>
        <ul>
            <li>Story: @Model.ShortStory </li>
            <li>Posted On: @Html.DisplayFor(x => @Model.CreatedOn)</li>
            <li>Modifications Type: @Model.ModificationsType</li>
            <li>Owner: @Model.Owner.UserName</li>
        </ul>

        @if (User.Identity.GetUserId() == Model.Owner.Id)
        {
            @Html.ActionLink("Delete", "DeleteProject", new { title = Model.Title })
        }
    </div>
</div>