@using CarModsHeaven.Web.Models.ProjectsList
@using Microsoft.AspNet.Identity;

@model ProjectViewModel

@{
    ViewBag.Title = @Model.Title + " - Car Mods Heaven";
}

<div class="row jumbotron">
    <div class="col-md-4">
        <h2>@Model.Title</h2>
        <h3>
        @Html.DisplayFor(project => project.CarBrand)
        @Html.DisplayFor(project => project.CarModel)
        (@Html.DisplayFor(project => project.CarYear))
        </h3>
        <ul>
            <li>Modifications List: @Html.DisplayFor(project => project.ModificationsList)</li>
            <li>Posted On: @Html.DisplayFor(project => project.CreatedOn)</li>
            <li>Modifications Type: @Html.DisplayFor(project => project.ModificationsType)</li>
            <li>Owner: @Html.DisplayFor(project => project.Owner.UserName)</li>
            <li>Score: @Html.DisplayFor(project => project.Score)</li>
        </ul>


        @using (Html.BeginForm())
        {
            <input type="text" name="score" class="form-control" />
        }

        @if (User.Identity.GetUserId() == Model.Owner.Id)
        {
            @Html.ActionLink("Edit", "EditProject", new { title = Model.Title }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Delete", "DeleteProject", new { Model }, new { @class = "btn btn-danger" })
        }
    </div>
</div>
<div class="jumbotron">
    <div id="disqus_thread"></div>
</div>


@Scripts.Render("~/bundles/disqus")
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>