@using CarModsHeaven.Web.Models.ProjectsList;
@using X.PagedList.Mvc;

@model X.PagedList.IPagedList<ProjectViewModel>

@{
    ViewBag.Title = "Projects - Car Mods Heaven";
}

<div class="row jumbotron">
    <div>
        Find by title: @Html.TextBox("SearchString", null, new { id= "SearchString" })
        @Ajax.ActionLink(
       "Search",
       "GetProjects",
       "Projects",
       new { searchPattern = "" },
       new AjaxOptions()
       {
           InsertionMode = InsertionMode.Replace,
           UpdateTargetId = "projects"
       },
       new { @class = "btn btn-default" }
       )
    </div>
    <div>
        @Html.ActionLink("Add Project", "AddProject", null, new { }, new { @class = "btn btn-success" })
        @Ajax.ActionLink(
       "Sort By Date",
       "GetProjects",
       "Projects",
       new { sortBy = "date" },
       new AjaxOptions()
       {
           InsertionMode = InsertionMode.Replace,
           UpdateTargetId = "projects"
       },
       new { @class = "btn btn-primary" }
       )
        @Ajax.ActionLink(
       "Sort By Car Brand",
       "GetProjects",
       "Projects",
       new { sortBy = "brand" },
       new AjaxOptions()
       {
           InsertionMode = InsertionMode.Replace,
           UpdateTargetId = "projects"
       },
       new { @class = "btn btn-primary" }
       )
        @Ajax.ActionLink(
       "Sort By Project Title",
       "GetProjects",
       "Projects",
       new { sortBy = "title" },
       new AjaxOptions()
       {
           InsertionMode = InsertionMode.Replace,
           UpdateTargetId = "projects"
       },
       new { @class = "btn btn-primary" }
       )
    </div>
    <div id="projects">
        @Html.Partial("_GetProjectsPartial", Model)
    </div>
</div>